body {
  padding: 50px;
  background-color: #686868;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

p {
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
  color: #ff9100;
  padding: 0;
}
